*{
    box-sizing: border-box;
    margin: 0;
	padding: 0;
}
	
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1{ 
    font-size: 3.5em;
    text-shadow: #393939 2px 2px;   
}
h2{ 
    font-size: clamp(2em, 3.5vw, 4rem);
}
h3{ 
    font-size: clamp(1rem, 4vw, 2rem);
}
p{ 
    font-size: clamp(1rem, 1.5vw, 2rem);
}
ul{
    list-style: none;
}
li{ 
    font-size: 1.25em;
}
p{
    text-align: justify;
}
.abrir-menu{
    display: none;
}
button{
    font-size: clamp(1.35rem, 2.25vw, 1rem);
    font-weight: bold;
    padding: 0.7rem 3rem;
    border-radius: 2rem;
    border: 0.3rem solid white;
    background-color: transparent;
    color:white;
    transition: all 0.5s ease;
}
button:hover{
    background: #db6402;
    color:white;
    transform: translateY(4px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
header{
    position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	transition: 0.7s;
	padding: 2% 1%;
    z-index: 1000;  
    height: clamp(80px, 10vh, 100px);
    width: 100%;
}
.imagen{
    margin-top: -1.4%;  
}
header.abajo{
    background: #db6402;
   
}
header .logo{
    position: relative;
    font-weight: bold;
    font-size: 9em;
    letter-spacing: 22px;
    transition: 1.5s;
    text-decoration: none;

}
header ul{
    list-style: none;
    margin: 0;
    display: flex;
}
nav ul li{
    position:relative;
}

header ul li a{
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 2px;
    transition: backgraund-color 0.7s ease, padding 0.7s ease;
    display: block;
    padding: 5px 20px;
    width: 100%; /* o mejor auto si no quieres forzar ancho */
    box-sizing: border-box;
}
header .container{
    display: flex;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}
nav > ul > li:hover > a {
    width: 13rem;
    background-color: rgb(233, 64, 64);
    color: #fff;
    padding: 8px 15px;


}
nav ul li ul.submenu li a:hover {
    background-color: #d25f12;
    color: #fff;
    padding: 0.7em;
}

nav ul li ul.submenu{
    display: none;
    width: 100%;
    position: absolute;
    top:100%;
    left: 0;
    z-index: 1000;
    flex-direction: column;
}

nav ul li:hover >ul.submenu{
    display: block;
}
nav ul li ul.submenu li a{
    padding: 0.7em;
    color: rgb(255, 255, 255);
    background-color: #ff800a;
    font-size: 0.7em;
    
}
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("Imagenes/1.jpg");
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#hero h1{
    color: white;
    font-size: clamp(2rem, 6.5vw, 5rem);
}

#hero button{
    font-size: 1.75em;
}
.containerdos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 6rem;
    padding-top: 6rem;
}
.textosi{
    padding: 1rem;
    width: 40%;
    align-items: center;    
    padding:2rem;  
    border-radius:5px;
    margin-left: 7%;
    color:black;
    box-shadow: 5px 5px 25px rgba(57, 23, 3, 0.747);

}
.texto1{
    text-align: center;
    
}
.texto2{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    text-align: justify;
}

.containerimg {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    width: 45%;
    max-width: 100%; 
    margin: 0 auto; 
}

.top-row {
    display: flex;
    justify-content:space-evenly; 
    width: 100%; 
    max-width: 100%; 
}

.img {
    width: 40%; 
    height: auto;
    box-shadow: 5px 5px 10px rgba(243, 97, 7, 0.747);
    border-radius: 10px;
}

.img-bottom {
    width: 40%; 
    height: auto;
    box-shadow: 5px 5px 10px rgba(243, 97, 7, 0.747);
    border-radius: 10px;
    margin-top: 20px;
}

#buffetes{
    background-color: #db6402;
    color: white;
    text-align: center;
    display: flex;
}
#buffetes .programas{
    display: flex;
}

#buffetes .container{
    padding-top: 2%;
}

#buffetes h2{
    margin-top: 5%;
}
#buffetes h3{
    margin-top: 0;
}
#buffetes p{
    display: block;
    text-align: justify;
    margin-bottom: 10%;
    
}

#buffetes .carta{
    margin: 2%;
    position: relative;
    border-radius: 6em;
    margin-bottom: 5%;
    flex: 1;
    padding: 2%;
    background-size: 100% 40%;
    background-repeat: no-repeat;
    background-position-y: 0;
    background-color: rgba(50, 50, 50, 1);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    padding-bottom: 5%;
}
.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("Imagenes/4.jpg");
}

.carta:nth-child(2){

    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("Imagenes/microsistemas.jpg");
    
    
}
.carta:nth-child(3){

    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("Imagenes/microsistemas.jpg");
    
}
.h3{
    margin-top: 10%;
    margin-bottom: 20%;
}

.boton{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 6%;
}

#caracteristicas .container{
    text-align: center;
    padding: 8%;
    justify-content: space-between;
}
#caracteristicas h2{
   -webkit-text-fill-color: transparent;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #000000;

}
#caracteristicas{
    display: flex;
    justify-content: center;
    max-width: 100%;
    padding: 4%;  
    align-items: center;
    text-align: center;
    margin-left: 2%;
}

#caracteristicas li{
    margin: 4% 1%;
    text-align: left;
}
#caracteristicas img{
    max-width: 100%;
    height: auto;
    width: 45%;
    background: linear-gradient(135deg, #9f2507, #feb47b);

}


#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30,30,30);
    color: white;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("Imagenes/2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}

#final h2{
    font-size: clamp(2rem, 6.5vw, 5rem);
}
@media (max-width: 1233px){
h3 {
    font-size: clamp(1rem, 4vw, 2.5rem);
}
}

@media (max-width: 1129px){
    .abrir-menu{
        display: block;
        border: 0;
        font-size: 1.5rem;
        background-color: transparent;
        cursor: pointer;
        text-align:right;
        right: 1rem;  
        position:absolute;
    }
    .nav{
        top: 0;
        right: 0;
        bottom: 0;
        width: 45%;
        background-color: rgb(190, 118, 59);
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        height: 100vh;
        transform: translateX(100%); /* Inicialmente fuera de la pantalla */
        transition: transform 0.3s ease;
    }
    nav ul li ul.submenu{
       position:fixed;
       display: flex;
    }
    nav > ul > li:hover > a {
        background-color: rgb(41, 18, 18);
        color: #fff;
        padding: 8px 15px;
        border-radius: none;
        width: 100%;
    
    }
    .nav.visible{
        transform: translateX(0);
    }
    .nav ul {
        list-style: none;
        padding-top: 3rem;
        width: 100%;
        display: flex;
        flex-direction: column; 
        gap: 2rem;
        padding-top: 0;
    }
    }
@media (max-width: 1105px){
    .containerdos{
        flex-wrap: wrap;
    }
    .textosi {
        width: 90%;
        align-items: center;
        margin-bottom: 3%;
    }
    .containerimg{
        display: flex;
        flex-direction:row;
        width: 70%;
    }
    .img-bottom {
       display: none;
    }
    #buffetes .programas {
        flex-direction: column;
    }
    #buffetes .carta{
        background-size: 100%;
        margin-bottom: 2%;
        display: flex;
    }
    #buffetes .h3 {
        margin-top: 5%;
        margin-bottom: 2%;
        width: 50%;
    }
    #buffetes p{
        margin-bottom: 3%;
        padding-top: 5%;
    }
}
@media (max-width: 872px){
    #buffetes p {
        display: none;
    }
    #buffetes .carta {
        justify-content: space-around;
    }
    #caracteristicas {
        flex-wrap: wrap;
    }
    div.boton button {
        margin-bottom: 0.5rem;
        background: transparent !important;    /* Sin fondo */
        color: transparent !important;         
        border: none !important;               
        box-shadow: none !important;           
        pointer-events: auto !important;
}
}